body
{
	background-image: url('http://photojerome83.free.fr/photo/Noir%20et%20Blanc/plage.JPG');
}
.IDP
{
	border:solid 1px black;
	width: 30px;
	height: 200px;
}
.info_profil
{
	border:solid 1px black;
	padding: 100px;
}